<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sendbird.syncmanager.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="com.stfalcon.multiimageview"/> <!-- min 16 -->

    <application
        android:name="com.sendbird.syncmanager.sample.main.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sendbird_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sendbird.syncmanager.sample.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sendbird.syncmanager.sample.main.MainActivity"
            android:label="@string/select_channel_type"/>
        <activity
            android:name="com.sendbird.syncmanager.sample.main.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.sendbird.syncmanager.sample.main.BlockedMembersListActivity"
            android:label="@string/blocked_members_list" />

        <activity android:name="com.sendbird.syncmanager.sample.utils.PhotoViewerActivity" />
        <activity
            android:name="com.sendbird.syncmanager.sample.utils.MediaPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.sendbird.syncmanager.sample.groupchannel.InviteMemberActivity"
            android:label="@string/invite_member" />
        <activity
            android:name="com.sendbird.syncmanager.sample.groupchannel.MemberListActivity"
            android:label="@string/member_list" />
        <activity
            android:name="com.sendbird.syncmanager.sample.groupchannel.MemberInfoActivity"
            android:label="@string/member_info" />
        <activity
            android:name="com.sendbird.syncmanager.sample.groupchannel.CreateGroupChannelActivity"
            android:label="@string/create_group_channel" />

        <activity android:name="com.sendbird.syncmanager.sample.groupchannel.GroupChannelActivity"
            android:windowSoftInputMode="stateHidden" />

		<service
            android:name="com.sendbird.syncmanager.sample.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
		
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sendbird.syncmanager.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
