<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sendbird.android.sample" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sendbird_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendBirdChatActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".SendBirdUserListActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".SendBirdChannelListActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".SendBirdMessagingActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".SendBirdMessagingChannelListActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
    </application>

</manifest>
